body {
    font-family: "Noto Sans JP", sans-serif;
    background: #f4f6f8;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.jp-table {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.jp-table th {
    background: #2c3e50;
    color: white;
    padding: 12px;
}

.jp-table td {
    padding: 12px;
    /* text-align: center; */
    border-bottom: 1px solid #eee;
}

.jp-table tr:hover {
    background: #f9f9f9;
}

.auto {
    color: #00796b;
    font-weight: bold;
}

.trans {
    color: #e65100;
    font-weight: bold;
}

.btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    background: #2c3e50;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

/* Test 10 cau  */
.quiz-box {
  max-width: 1000px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.quiz-item {
  margin-bottom: 15px;
}

.quiz-item p {
  margin-bottom: 5px;
}

.result {
  font-weight: bold;
  margin-top: 15px;
}



.explain {
  font-size: 13px;
  margin-top: 5px;
  color: #555;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}

.card {
  padding: 15px;
  border-radius: 12px;
  background: #fff;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.06);
}

.question {
  margin-bottom: 10px;
}

.btn-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.btn-group button {
  flex: 1;
  padding: 8px;
  border: none;
  font-size: 20px;
  border-radius: 8px;
  background: #eee;
  cursor: pointer;
  transition: 0.2s;
}

.btn-group button:hover {
  background: #d0ebff;
}

.btn-group button.active {
  background: #2c7be5;
  color: white;
}

.example {
  font-size: 20px;
  background: #f8f9fa;
  padding: 8px;
  border-radius: 6px;
}